## Homework 1

You need to edit this .ipynb file by replacing "# Your code", "# Your answer", etc., click "Restart & Run All" in Jupyter Notebook to generate your results, and download it as an .html file. Please submit your .ipynb and .html files (instead of a .zip file) on Moodle. If you have questions regarding the homework, please email the TA Saumil Shah (sashah8@ncsu.edu), or attend our office hours.

Let's first import the data:

In [275]:
import numpy as np
import pandas as pd
from scipy import stats
ercot = pd.read_csv('data/real-time-price.csv')
ercot['Date'] = pd.to_datetime(ercot['Date'])
ercot

                     Date    Price      Zone
0     2019-01-01 00:00:00  14.9375  LZ_SOUTH
1     2019-01-01 00:00:00  15.5050   LZ_LCRA
2     2019-01-01 00:00:00  14.8900    LZ_AEN
3     2019-01-01 00:00:00  13.4500  LZ_RAYBN
4     2019-01-01 00:00:00  12.5700   LZ_WEST
...                   ...      ...       ...
70067 2019-12-31 23:00:00  12.3925  LZ_SOUTH
70068 2019-12-31 23:00:00  12.3775   LZ_WEST
70069 2019-12-31 23:00:00  12.3925   LZ_LCRA
70070 2019-12-31 23:00:00  12.3925    LZ_CPS
70071 2019-12-31 23:00:00  12.3925    LZ_AEN

[70072 rows x 3 columns]

The following problems are independent (unless stated otherwise), meaning that all the manipulations are based on ercot.

### Problem 1
Consider a particular zone, say LZ_HOUSTON. Count the observations. Why is it less than 8760?

In [276]:
ercot.loc[ercot.Zone == 'LZ_HOUSTON'].count()

Date     8759
Price    8759
Zone     8759
dtype: int64

In [277]:
# Your answer (why is it less than 8760?)

### Problem 2
Consider the variable Price. What is the proportion (a number between 0 and 1) of negative prices?

In [321]:
# Your code
negative_df = ercot.loc[ercot.Price < 0]
num_btn_0_1_df = ercot.loc[ercot.Price < 1]

proportion = num_btn_0_1_df.Price.count()/negative_df.Price.count()
print("Proportion of a number between (a number between 0 and 1) of negative prices", proportion)

Proportion of a number between (a number between 0 and 1) of negative prices 1.53713298791019

### Problem 3
Print the row(s) with the highest Price and the row(s) with lowest Price.

In [322]:
# Your code (highest)
ercot.loc[ercot['Price'] == ercot['Price'].max()]

                     Date   Price        Zone
43512 2019-08-15 16:00:00  9000.0      LZ_AEN
43513 2019-08-15 16:00:00  9000.0      LZ_CPS
43514 2019-08-15 16:00:00  9000.0     LZ_LCRA
43515 2019-08-15 16:00:00  9000.0    LZ_NORTH
43516 2019-08-15 16:00:00  9000.0    LZ_RAYBN
43517 2019-08-15 16:00:00  9000.0  LZ_HOUSTON
43518 2019-08-15 16:00:00  9000.0     LZ_WEST
43519 2019-08-15 16:00:00  9000.0    LZ_SOUTH

In [323]:
ercot.loc[ercot['Price'] == ercot['Price'].max()]

                     Date   Price        Zone
43512 2019-08-15 16:00:00  9000.0      LZ_AEN
43513 2019-08-15 16:00:00  9000.0      LZ_CPS
43514 2019-08-15 16:00:00  9000.0     LZ_LCRA
43515 2019-08-15 16:00:00  9000.0    LZ_NORTH
43516 2019-08-15 16:00:00  9000.0    LZ_RAYBN
43517 2019-08-15 16:00:00  9000.0  LZ_HOUSTON
43518 2019-08-15 16:00:00  9000.0     LZ_WEST
43519 2019-08-15 16:00:00  9000.0    LZ_SOUTH

In [324]:
# Your code (lowest)
ercot.loc[ercot['Price'] == ercot['Price'].min()]

                     Date  Price     Zone
56650 2019-10-23 02:00:00 -22.23  LZ_WEST

### Problem 4
Test the hypothesis that the mean of Price for zone LZ_HOUSTON is 30 at the significance level 5%.

In [325]:
# Your code
new_df = ercot.loc[ercot.Zone == 'LZ_HOUSTON']
mean_value = new_df["Price"].mean()

tset, pval = stats.ttest_1samp(new_df["Price"], 30)
print("p-values", pval)

p-values 0.0054912309477494195

### Problem 5
We have obtained the t-statistic in Problem 4. We can also compute the degrees of freedom from Problem 1. Use stats.cdf to verify the p-value obtained in Problem 4.

In [326]:
# Your code